#signupheader {
	margin: auto;
    width: 20%;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 50px;
}

.signupcontainer, .featurescontainer {
	width: 40%;
	margin: auto;
}

#signupnext, #login {
	float: right;
}

#featuresheader {
	margin: auto;
    width: 17%;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 50px;
}

#imptmessage {
	color: red;
}