html {
    position: relative;
    min-height: 100%;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  overflow: hidden;
}

#copyright {
	padding-left: 20px;
}

#signupheader {
	margin: auto;
    width: 20%;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 50px;
}

.signupcontainer, .featurescontainer {
	width: 40%;
	margin: auto;
}

#signupnext, #login {
	float: right;
}

#featuresheader {
	margin: auto;
    width: 17%;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 50px;
}

#imptmessage {
	color: red;
}